body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #D33E43;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.container {
    background-color: #FF928B;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    width: 700px;
    text-align: center;
}

h1 {
    margin-bottom: 30px;
}

.matrix-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.matrix {
    width: 30%;
}

.matrix input {
    padding: 13px;
    margin-bottom: 15px;
    border: 1px solid #000000;
    border-radius: 4px;
}

.buttons-container button {
    padding: 15px 25px;
    margin: 10px;
    font-size: large;
    background-color: #D33E43;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.buttons-container button:hover {
    background-color: #A64253;
}

p {
    background-color: #f9f9f9;
    padding: 20px;
    line-height: 2rem;
    border: 3px solid #A64253;
    border-radius: 6px;
    font-size: large;
    white-space: pre-wrap;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-height: 100px; 
    display: flex;
    align-items: center;
    justify-content: center;
}
